.cv {
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: rgb(12, 162, 199);
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 77px 12px rgba(0,0,0,0.13);
    -webkit-box-shadow: 0px 0px 77px 12px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 77px 12px rgba(0,0,0,0.13);
    padding: 0 25px;
}

.cv:before, button:after {
    content: "";
    background: rgb(165, 0, 172);
    height: 50%;
    width: 0;
    position: absolute;
    transition: .3s cubic-bezier(.785,.135,.15,.86);
    -webkit-transition: .3s cubic-bezier(.785,.135,.15,.86);
    z-index: -1;
}

.cv::before {
    top: 0;
    left: 0;
    right: auto;
}

.cv:after {
    bottom: 0;
    right: 0;
    left: auto;
}

.cv:hover {
    color: #202020;
    background-color: rgb(12, 162, 199);
}

.cv:hover:before {
    width: 100%;
    right: 0;
    left: auto;
}

.cv:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

.proyecto1 {
    background: #191919;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
}
.carda-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px; 
    flex-wrap: wrap;
    margin-left: 15px;
    margin-bottom: 15px;
}
.carda {
    overflow: visible;
    width: 190px;
    height: 254px;
}
.content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}

.front, .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 5000ms infinite linear;
}

.back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.carda:hover .content {
    transform: rotateY(180deg);
}

@keyframes rotation_481 {
    0% {
    transform: rotateZ(0deg);
    }
    0% {
    transform: rotateZ(360deg);
    }
}

.front {
    transform: rotateY(180deg);
    color: white;
}

.front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
}

.description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translate(-0%, -50%);
    background: rgba(0, 0, 0, 0.7); 
}

.front .im {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffbb66;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
}

#bottom {
    background-color: #ff8866;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
}

#right {
    background-color: #ff2233;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
}

@keyframes floating {
    0% {
    transform: translateY(0px);
    }

    50% {
    transform: translateY(10px);
    }

    100% {
    transform: translateY(0px);
    }
}

.imgborde{
    border-radius: 10px;
}
.badge{
    top: 40PX;
    margin: 0px 0px 10px 0px;
    position: absolute;
}
.pw {
    max-width: 100%; 
    max-height: 100%; 
    padding: 50px;
}
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    margin: 3px;
    text-align: center;
    bottom: 6px;
    cursor: pointer;
}

.button:hover::before {
    transform: scaleX(1);
    color: #fff;
}

.button-content {
    position: relative;
    z-index: 1;
    color: #fff;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
}
/* === removing default button style ===*/
.vars {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    
}

.vars {
    --border-right: 3px;
    --text-stroke-color: rgb(255, 255, 255);
    --animation-color: rgb(0, 134, 166);
    --fs-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
    position: absolute;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}
.vars:hover .hover-text {
    width: 100%;

}
/*burbujas*/
.bubble {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
    animation: animate_4010 8s ease-in-out infinite;
    z-index: -1;
}

.bubble:nth-child(2) {
    position: relative;
    zoom: 0.45;
    left: -10px;
    top: -100px;
    animation-delay: -4s;
}

.bubble:nth-child(3) {
    position: relative;
    zoom: 0.45;
    right: -80px;
    top: -300px;
    animation-delay: -6s;
}

.bubble:nth-child(4) {
    position: relative;
    zoom: 0.35;
    left: -120px;
    bottom: -200px;
    animation-delay: -3s;
}

.bubble:nth-child(5) {
    position: relative;
    zoom: 0.5;
    left: 0px;
    top: 200px;
    animation-delay: -5s;
}

@keyframes animate_4010 {
    0%,100% {
    transform: translateY(-20px);
    }

    50% {
    transform: translateY(20px);
    }
}

.bubble::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble span {
    position: absolute;
    border-radius: 50%;
}

.bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(8px);
}

.bubble span:nth-child(2) {
    inset: 10px;
    border-right: 15px solid #ff4484;
    filter: blur(8px);
}

.bubble span:nth-child(3) {
    inset: 10px;
    border-top: 15px solid #ffeb3b;
    filter: blur(8px);
}

.bubble span:nth-child(4) {
    inset: 30px;
    border-left: 15px solid #ff4484;
    filter: blur(12px);
}

.bubble span:nth-child(5) {
    inset: 10px;
    border-bottom: 10px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
}
.container-b{
    z-index: -1;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 80vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
}

