
@media only screen and (max-width: 1075px) {
    .iconos-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0px 125px 0 125px;
    }
    
    .iconos-container img {
        height: 100px;
        width: 100px;
        margin-right: 20px;
        margin-bottom: 35px;
    }
    }
@media (max-width: 1059px) {
    nav ul li:nth-child(1){
    display: none;
    
}
    body {
        overflow-x: hidden;
}
}
@media (max-width: 1000px) {
    .fondo1{

        animation: moveBackground 30s infinite linear alternate;
    }
    @keyframes moveBackground {
        0% {
            background-position: center left;
        }
        100% {
            background-position:  center right;
        }
    }
}
@media (max-width: 945px) {
    nav ul li:nth-child(1),
    nav ul li:nth-child(2),
    nav ul li:nth-child(3),
    nav ul li:nth-child(4) {
        display: none;
    }
    nav {
        padding: 7px 4.5;
        height: 75px;
    }
    body {
        overflow-x: hidden;
    }
    .iconos-container {
        margin: 0px 78px 0 78px;
    }
}
@media (max-width: 875px) {
.presentacion {
    width: 90%;
}

}
@media only screen and (max-width: 755px) {
    .iconos-container {
        margin: 0px 28px 0 28px;
    }
}

@media (max-width: 580px) {
    body {
        overflow-x: hidden;
    
    }
    h4{
        font-size: 15px;
    }
}
@media only screen and (max-width: 700px) {
    .texto {
        padding-left: 3%;
        padding-right: 3%;

    }
}
@media (max-width: 565px) {
.carda {
    width: 170px;
    height: 234px;
}
}
@media (max-width: 513px) {
.card {
    height: 160px;
    width: 160px;
}

.texto h5 {
    letter-spacing: 1px;
    font-size: 17px;

}
}
@media (max-width: 493px) {
    .titulo h2{
        font-size: 47px;
    }
    .texto p {
        font-size: 15px;
        line-height: 19px;
    }
}
@media (max-width: 462px) {
    .habilidades img {
        height: 70px;
        width: 70px;
        margin-right: 17px;
    }
    body {
        overflow-x: hidden;
    }
    .iconos-container > img {
        margin-bottom: 30px;
    }
}

@media (max-width: 435px) {
    .cv {
        display: none;
}
}
@media (max-width: 426px) {
    .containerh{
    height: 350px;
    }
}
@media (max-width: 400px) {
    .titulo h2{
        font-size: 40px;
        margin: 0 0 30px 0;
    }

}
@media (max-width: 380px) {
    .logo {
        color:white;
        letter-spacing: 1px;
    }
    .btn {
        display: none;
    }
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .carda {
        overflow: visible;
        width: 140px;
        height: 210px;
    }
    .description {

        width: 86%;
    }
    .carda2 {
        overflow: visible;
        width: 140px;
        height: 210px;
    }
}

@media (max-width: 370px) {
        nav ul li {
            list-style-type: none;
            display: inline-block;
            padding: 4px 0.3px;
        }
        body {
            max-width: 100%;
            overflow-x: hidden;
        }
}


@media (max-width: 344px) {
    .containerh{
    height: 500px;
    }
}